<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel = "classes">
  <test  name="LoginTest">
    <classes>
      <class name="com.PomDemo.LoginTest"/>
       <class name="com.PomDemo.DashBoard"/>
       <class name="com.PomDemo.LoginPage"/>
    </classes>
  
</suite> <!-- Suite -->
